.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--bg);

  input {
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--text);
  }
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    width: 100%;

    .separator {
      border: none;
      border-top: 2px solid var(--text);
      height: 0.5rem;
      text-align: center;
      width: 50%;
      align-self: center;
      legend {
        padding: 0 2rem;
        font-size: 1rem;
        color: var(--text);
      }
    }

    button {
      padding: 10px 20px;
      background-color: var(--btn-bg);
      color: var(--btn-text);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 8rem;
      align-self: center;

      &:hover {
        background-color: var(--btn-bg-hover);
      }
    }
  }
}
