.tags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 0;
  gap: 10px;
  .tag {
    background-color: var(--bg-secondary);
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--border);
    padding: 0px 15px;
    border-radius: 25px;

    p {
      font-size: 10px;
      font-weight: 700;
    }
  }
}

.fa-js {
  color: rgb(241, 224, 90);
}
.fa-typescript {
  color: rgb(0, 122, 204);
}
.fa-html5 {
  color: rgb(227, 79, 38);
}
.fa-py {
  color: rgb(53, 114, 165);
}
.fa-css3 {
  color: rgb(38, 77, 228);
}
.fa-php {
  color: rgb(79, 79, 79);
}
.fa-sass {
  color: rgb(194, 51, 194);
}

.fa-docker {
  color: rgb(0, 123, 193);
}
.fa-code {
  color: rgb(255, 255, 255);
}
