.back-office-container {
  display: flex;
  gap: 20px;
  padding: 20px;

  .content {
    background-color: var(--bg-secondary);
    flex: 1;
    min-width: 75vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
